body {
    background-color: #bbdfc8;
    text-align: center;
}

.heading {
    color: #276678;
}

h4 {
    margin-bottom: 0;
}
/* 
.box-center-wrap {
    display: flex;
    justify-content: center;
} */
